@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v2-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v2-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-500.woff") format("woff"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-v2-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/inter-v2-latin_cyrillic-700.woff") format("woff"); 
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
    background-image: url("http://127.0.0.1:5500/img/Poster.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure body takes up full viewport height */
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.fixed-bugs {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* header */

.site-header {
    border-top: #BE123C 3px solid;
}

.head-top {
    width: 100%;
    display: flex;
    padding-top: 15px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    transition: all 0.3s ease-out;
}

.logo-img:hover {
    opacity: 58%;
}

.logo-img:active {
    opacity: 34%;
}

.logo-a {
    height: 50px;
    display: block;
}

.head-nav-ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.head-nav-li {
    margin-right: 30px;
}

.head-nav-li:last-child {
    margin: 0;
}

.head-nav-li-a {
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.head-nav-li-a:hover {
    color: red;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-a {
    color: #fff;
    font-size: medium;
    margin-right: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-a:hover {
    color: red;
}

.menu-btn {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
    background-color: transparent;
}

.menu-btn img {
    transition: all 0.3s ease-out;
}

.menu-btn img:hover {
    opacity: 58%;
}

.menu-btn img:active {
    opacity: 34%;
}

/* main */

main {
    background-color: #fff;
}
/* main-top */

.h1-menu {
    color: #000;
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.h1-btn {
    margin: 0;
    border: 0;
    padding: 0;
    /* width: 124px;
    height: 40px; */
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: transparent;
}

.h1-btn-p {
    font-size: 18px;
    color: #BE123C;
    font-weight: bold;
    margin-right: 10px;
}

/* main-top */

.movie-ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.arrival-h1 {
    display: flex;
    color: #000;
    justify-content: space-between;
}

.movie-li {
    margin: 0;
    padding: 0;
    padding-right: 40px;
    list-style-type: none;
}

.movie-li:last-child {
    padding: 0;
}

.movie-ul:last-child {
    margin-right: 0;
}

.movie-li-img {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 370px;
    margin-bottom: 12px;
}

.movie-li-link {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-bottom: 12px;
    text-decoration: none;
}

.movie-info-h1 {
    margin: 0;
    padding: 0;
    margin-top: 35px;
}

.movie-info {
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    /* padding-right: 60px; */
    flex-direction: column;
}

.movie-info-a {
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.movie-info-a:last-child{
    margin: 0;
    padding: 0;
}

.movie-info-a:hover{
    opacity: 58%;
}

.movie-info-a:active {
    opacity: 28%;
}

/* Exclusive videos */

.videos-h1 {
    color: #000;
    display: flex;
    justify-content: space-between;
}

.videos-ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.videos-li {
    margin: 0;
    padding: 0;
    padding-right: 30px;
}

.videos-li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.videos-li:last-child {
    margin: 0;
    padding: 0;
}

.videos-img {
    width: 450px;
    height: 253.13px;
    border-radius: 10px;
}

.videos-img-3 {
    border-radius: 10px;
}

/* videos-end */

/* casts */

.casts-h1 {
    color: #000;
    display: flex;
    justify-content: space-between;
}

.casts-ul {
    margin: 0;
    padding: 0;
    display: flex;
    padding-bottom: 60px;
    list-style-type: none;
}

.casts-li {
    margin: 0;
    padding: 0;
    padding-right: 40px;
}

.casts-li a{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.casts-img {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 370px;
    border-radius: 10px;
}

/* main-end */

/* footer */
/* 
.foot-hr {
    margin: 0;
    border: 0;
    padding: 0;
    height: 5px;
    width: 800px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 50px;
    align-items: center;
    background: rgb(0,2,255);
    transform: translateX(180px);
    background: linear-gradient(90deg, rgba(0,2,255,1) 20%, rgba(190,18,60,1) 65%);
} */

.link-ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-bottom: 36px;
    margin-left: 400px;
    align-items: center;
}

.link-li {
    margin: 0;
    padding: 0;
    margin-right: 48px;
    align-items: center;
}

.link-li:last-child {
    margin: 0;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 250px;
    margin-bottom: 36px;
}

.links a {
    display: block;
    color: #000;
    margin-left: 48px;
    text-decoration: none;
}

.opacity-p-1 {
    margin-left: 370px;
    color: #9CA3AF;
}

/* slider */

.slider-df{
    display: flex;
    transform: translateY(10px);
    justify-content: space-between;
}

.slider {
    transform: translateX(10px);
    overflow: hidden;
    max-width: 2025;
    max-height: 540px;
}

.slider-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider-item {
    display: none;
    width: 100%;
    flex-shrink: 0;
}

#slider-ctrl-1:checked ~ .slider-list .slider-item:nth-child(1), 
#slider-ctrl-2:checked ~ .slider-list .slider-item:nth-child(2), 
#slider-ctrl-3:checked ~ .slider-list .slider-item:nth-child(3), 
#slider-ctrl-4:checked ~ .slider-list .slider-item:nth-child(4) {
    display: block;
}

.slider-img {
    width: 1100px;
    height: 400px;
    display: block;
    border-radius: 15px ;
    margin-bottom: 20px;
    border: transparent 8px outset;
}

#slider-ctrl-1:checked ~ .slider-ctrls label:nth-child(1), 
#slider-ctrl-2:checked ~ .slider-ctrls label:nth-child(2), 
#slider-ctrl-3:checked ~ .slider-ctrls label:nth-child(3), 
#slider-ctrl-4:checked ~ .slider-ctrls label:nth-child(4) {
    margin-bottom: 20px;
    border: 2px solid #fff;
    background-color: #BE123C;  
}

.slider-ctrls label {
    width: 45px;
    height: 25px;
    font-size: 0;
    display: block;
    cursor: pointer;
    margin: 5px 3px;
    border-radius: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 2px solid #BE123C;
    transition: all 0.5s ease-in-out;
}

.slider-ctrls label:hover {
    border: 5px solid #fff;
    background-color: #BE123C;   
}

.slider-ctrls{
    /* align-items: center; */
    margin-left: 330px;
    margin-bottom: 45px;
    display: flex;
}

/* tags */

.opacity-p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #9CA3AF;
}

.imbd-2 {
    margin: 0;
    padding: 0;
    bottom: 12px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.imbd-2 img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.imbd-2 p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.imbd{
    margin: 0;
    padding: 0;
    bottom: 12px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.imbd img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.imbd p {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.tomato-2 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.tomato-2 img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 3px;
}
.tomato-2 p {
    margin: 0;
    padding: 0;
    margin: 0 0 2.5px 0;
    text-decoration: none;
}

.tomato {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.tomato img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.tomato p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}